.like-icon {
  color: #4267B2;
  font-size: 20px;
  padding-right: 8px;
}

.dislike-icon {
  color: #000000;
  font-size: 20px;
  padding-top: 2px;
}

.dislike-icon-clicked {
  color: red;
}

.like-icon-clicked {
  color: green;
}
