<app-header></app-header>

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <p>See what’s new</p>
    <h2>Recommendations</h2>
  </div>
</section>

<section class="miscellaneous-area section-padding-100-0">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-5">
        <div class="new-hits-area mb-100">
          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>See what’s new</p>
            <h2>My recommendations</h2>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt7.jpg" alt="">
              </div>
              <div class="content-">
                <h6>Sam Smith</h6>
                <p>Underground</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt8.jpg" alt="">
              </div>
              <div class="content-">
                <h6>Power Play</h6>
                <p>In my mind</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt9.jpg" alt="">
              </div>
              <div class="content-">
                <h6>Cristinne Smith</h6>
                <p>My Music</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt10.jpg" alt="">
              </div>
              <div class="content-">
                <h6>The Music Band</h6>
                <p>Underground</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt11.jpg" alt="">
              </div>
              <div class="content-">
                <h6>Creative Lyrics</h6>
                <p>Songs and stuff</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>

          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
            <div class="first-part d-flex align-items-center">
              <div class="thumbnail">
                <img src="assets/img/bg-img/wt12.jpg" alt="">
              </div>
              <div class="content-">
                <h6>The Culture</h6>
                <p>Pop Songs</p>
              </div>
            </div>
            <audio preload="auto" controls>
              <source src="https://colorlib.com/preview/theme/onemusic/audio/dummy-audio.mp3">
            </audio>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<app-footer></app-footer>
