
.team-section {
  text-align: center;
  padding: 60px;
}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}

.border {
  display: block;
  margin:auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-bottom: 40px;
}

.ps {
  margin-bottom: 40px;
}

.ps .profilePic {
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps .profilePic img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}

.ps .profilePic:hover > img {
  filter: none;
}

.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: black;
  text-align: justify;
  height: 0;

}

.section:target {
  height: auto;
}

.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.hide {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.show {
  opacity: 1;
}

.container {
 min-height: 100vh; /* will cover the 100% of viewport */
}

.app-footer {
 width: 100%;
}
