<app-header></app-header>

<section class="hero-area">
  <div class="hero-slides owl-carousel">

    <div class="single-hero-slide d-flex align-items-center justify-content-center">
      <div class="slide-img bg-img" [ngStyle]="{background: images[1]}"></div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content text-center">
              <h6 data-animation="fadeInUp" data-delay="100ms">Latest albums</h6>
              <h2 data-animation="fadeInUp" data-delay="300ms">Record Island<span>Record Island</span></h2>
              <a data-animation="fadeInUp" data-delay="500ms" href="index.html#" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
