<app-header></app-header>

<section class="hero-area">
  <div class="hero-slides ">

    <div class="single-hero-slide d-flex align-items-center justify-content-center">
      <!-- <div class="slide-img bg-img fadeIn fade-background" [ngStyle]="{background: path}"></div> -->
      <div *ngFor="let img of images; index as i">
        <div class="slide-img bg-img fadeIn fade-img" [ngStyle]="{background: images[i], 'z-index': i}" [ngClass]="{ show: index == i }"></div>
      </div>

      <div class="container" [ngStyle]="{'z-index':8}">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content text-center">
              <h6 data-animation="fadeInUp" data-delay="100ms">Latest albums</h6>
              <h2 data-animation="fadeInUp" data-delay="300ms">Record Island<span>Record Island</span></h2>
              <a data-animation="fadeInUp" data-delay="500ms" routerLink="/about" class="btn oneMusic-btn mt-50"> Discover <i class="fa fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
