<app-header></app-header>

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">

    <p>See what’s new</p>
    <h2>Change password</h2>
  </div>
</section>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="medium" color="#fff" type="ball-rotate" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container mt-50">

  <div class="alert alert-success" role="alert" *ngIf="showSuccess">
    Password successfully changed!
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showError">
    Something went wrong. Please try again.
  </div>
</div>
<section class="login-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" [ngClass]="{'is-invalid': !isPasswordvalid()}">
            <div class="invalid-feedback">The password must be at least 8 characters long</div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" [ngClass]="{'is-invalid': !isConfirmPasswordvalid()}">
            <div class="invalid-feedback">The password do not match</div>
          </div>

          <div class="container d-flex align-items-center justify-content-center">
            <a data-animation="fadeInUp" data-delay="500ms" class="btn oneMusic-btn" (click)="save()"> Save password </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
