<app-header></app-header>

<section class="latest-albums-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>Please choose your </p>
          <h2>Top 10 Genre</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="albums-slideshow">

        

          <div class="single-album">
            <img src="/assets/img/bg-img/rock.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Rock</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/pop.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Pop</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/blues.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Blues</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/jazz.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Jazz</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/classical.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Classical</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/hip-hop.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Hip-hop</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/folk.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Folk</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/metal.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Metal</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/electric.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Electric</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/country.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Country</h5>
              </a>
            </div>
          </div>

          <div class="single-album">
            <img src="/assets/img/bg-img/ambient.jpg" alt="">
            <div class="album-info">
              <a href="index.html#">
                <h5>Ambient</h5>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

<app-header></app-header>
