<app-header></app-header>

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent mb-10">
    <p>Please choose</p>
    <h2>Your top five genre</h2>
  </div>
</section>

<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-90" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/pop.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Pop</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/rock.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Rock</h5>
            </a>
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/hip-hop.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Hip-hop</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/blues.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Blues</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/classical.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>classical</h5>
            </a>
          </div>
        </div>
      </div>



      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/metal.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Metal</h5>
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/jazz.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Jazz</h5>
            </a>
          </div>
        </div>
      </div>


      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms" (click)="numberOfGenre=numberOfGenre+1">
          <div class="album-thumb">
            <img src="assets/img/bg-img/techno.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="index.html#">
              <h5>Electric</h5>
            </a>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-12">
        <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
          <button class="submit" *ngIf="numberOfGenre==3" (click)="numberOfGenre=numberOfGenre+1">Submit</button>
        </div>
      </div>
    </div>
  </div>


</section>

<app-footer></app-footer>
