<app-header></app-header>
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <p>See what’s new</p>
    <h2>My recommendations</h2>
  </div>
</section>

<!-- <button type="button" name="button" (click)="getTracks()">get spotify tracks</button> -->

<section class="album-catagory section-padding-100-0">

  <ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="line-scale-party" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

  <div class="container d-flex align-items-center justify-content-center" *ngIf="recommendationsToDisplay==null || recommendationsToDisplay.length==0">
    <h1>You don't have any recommendations</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
      </div>
    </div>
    <div class="row oneMusic-albums">


      <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item" *ngFor="let r of recommendationsToDisplay">
        <div class="single-album">
          <div class="album-image"><img src={{r.img}} alt="" (error)="getImgAfterError(r)"></div>
          <div class="top-right"><i class="fa fa-plus-square fa-3x" title="Add to spotify playlist"></i></div>
          <div class="album-info">
            <div class="album-name">
              <h5>{{r.name}}</h5>
            </div>
            <div class="artist">
                <p>{{r.artist}}</p>
            </div>
            <i class="fa fa-thumbs-up like-icon" id="album-01" (click)="like(r)" title="Like this song"></i>
            <i class="fa fa-thumbs-down dislike-icon" (click)="dislike(r)" title="Dislike this song"></i>
            <!-- <button type="button" name="button" >Add to spotify list</button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer>
