.like-icon {
  // color: #4267B2;
  color: #006600;
  font-size: 30px;
  padding-right: 8px;
  cursor: pointer;
}

.dislike-icon {
  // color: #000000;
  color: #CC0000;
  font-size: 30px;
  padding-top: 2px;
  cursor: pointer;
}

.top-right {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.album-name {
  min-height: 60px;
}

.album-image {
  min-height: 160px;
}

.artist {
  min-height: 60px;
}

.album-catagory{
    min-height: 60vh;
}
