.dark-modal {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

h4 {
  color: white;
}

h6 {
  color: white;
}

.preview{
    overflow-y: scroll;
    max-height: 50vh;
}
